.footer {
  @apply w-screen;
  background-color: #000000;
  @apply text-gray-200;
  @apply mt-16;
  @apply py-16;
  @apply flex;
  @apply flex-col;
  @apply justify-center;
  @apply items-center;
}

.footer h2 {
  @apply mb-12;
  @apply text-xl;
  @apply tracking-widest;
  font-family: 'Syncopate', sans-serif;
}

.footer-main {
  @apply w-screen;
  @apply flex;
  @apply flex-col;
  @apply justify-center;
  @apply items-center;
}

.footer-section {
  @apply w-9/12;
  @apply flex;
  @apply flex-row;
  @apply justify-center;
  @apply items-center;
  @apply px-4;
  @apply py-8;
}

.footer-section-border {
  @apply border-solid;
  @apply border-b-2;
  @apply border-t-2;
  @apply border-gray-200;
}

.footer-social-networks {
  @apply flex;
  @apply text-3xl;
}

@screen md {
  .footer-section-border {
    @apply border-b-0;
    @apply border-t-0;
    @apply border-r-2;
    @apply border-l-2;
  }

  .footer-main {
    @apply flex-row;
  }
}

@screen lg {
  .footer-section {
    @apply w-4/12;
  }

  .footer-main {
    @apply w-9/12;
  }

  .footer-section {
    @apply px-16;
  }
}
