.home-header {
  @apply flex;
  @apply justify-center;
  @apply mt-8;
}

.blog-header {
  @apply home-header;
}

.blog-header img {
  @apply h-32;
  @apply p-4;
}

.home-header img {
  @apply h-32;
  @apply p-4;
}

@screen lg {
  .home-header img {
    @apply h-56;
  }
}