* {
  font-family: 'Montserrat', sans-serif;
}

@import "tailwindcss/base";
@import "tailwindcss/components";

// CUSTOM MODULES
@import "layouts/body";
@import "layouts/nav";
@import "layouts/headers";
@import "layouts/footer";
@import "post";
@import "category";
@import "sign_in";
@import "about";

@import "tailwindcss/utilities";