.category-list-post-index {
  @apply flex;
  @apply w-10/12;
  @apply ml-10;
  @apply pt-12;
  @apply flex-wrap;
}

.category-list-post-show {
  @apply flex;
  @apply w-11/12;
  @apply ml-auto;
  @apply pt-12;
}

.category {
  @apply inline;
  @apply capitalize;
  @apply mr-5;
}

@screen lg {
  .category-list-post-show {
    @apply w-9/12;
  }

  .category-list-post-index {
    @apply ml-auto;
  }
}