.post-list {
  @apply flex;
  @apply flex-col;
  @apply mt-12;
  @apply items-center;
}

.post-link-container {
  @apply flex;
}

.post-card {
  @apply flex;
  @apply flex-col;
  @apply w-10/12;
  @apply mb-4;
}

.post-card-cover {
  @apply w-full;
  @apply object-cover;
  @apply rounded-t-lg;
}

.post-card-body {
  @apply px-5;
  @apply py-10;
  @apply border;
  @apply border-t-0;
  @apply border-solid;
  @apply border-gray-400;
  @apply rounded-b-lg;
}

.post-card-body-title {
  @apply text-lg;
  @apply font-medium;
}

.post-card-body-description {
  @apply mt-6;
}

@screen sm {
  .post-card {
    @apply w-8/12;
  }
}

@screen md {
  .post-card {
    @apply w-8/12;
  }
}

@screen lg {
  .post-card {
    @apply flex-row;
  }

  .post-card-cover {
    @apply w-64;
    @apply rounded-t-none;
    @apply rounded-l-lg;
  }

  .post-card-body {
    @apply border-t;
    @apply border-l-0;
    @apply rounded-b-none;
    @apply rounded-r-lg;
  }
}

@screen xl {
  .post-card {
    @apply flex-row;
  }

  .post-card-cover {
    @apply w-64;
    @apply rounded-t-none;
    @apply rounded-l-lg;
  }

  .post-card-body {
    @apply border-t;
    @apply border-l-0;
    @apply rounded-b-none;
    @apply rounded-r-lg;
  }
}
