// POST INDEX
.post-list {
  @apply flex;
  @apply flex-col;
  @apply mt-12;
  @apply items-center;
}

.post-link-container {
  @apply flex;
}

.post-card {
  @apply flex;
  @apply flex-col;
  @apply w-10/12;
  @apply mb-4;
}

.post-card-cover {
  @apply w-full;
  @apply object-cover;
  @apply h-56;
}

.post-card-body {
  @apply px-5;
  @apply py-10;
  @apply border;
  @apply border-t-0;
  @apply border-solid;
  @apply border-gray-400;
}

.post-card-body-title {
  @apply text-lg;
  @apply font-medium;
}

.post-card-body-description {
  @apply mt-6;
}

.see-all {
  @apply bg-gray-900;
  @apply text-gray-200;
  @apply mt-16;
  @apply py-4;
  @apply w-8/12;
  @apply text-center;
}

// POST SHOW

.post-body-container {
  @apply flex;
  @apply flex-col;
  @apply w-full;
  @apply items-center;
  @apply mt-16;
}

.post-body {
  @apply w-11/12;
  @apply border;
  @apply border-solid;
  @apply border-gray-400;
  @apply p-10;
}
.post-body > h1 {
  @apply text-3xl;
  @apply mb-8;
  @apply font-medium;
}

.post-body > .trix-content a {
  color: #145ea8;
}

.post-body > .trix-content blockquote {
  @apply border-l-4;
  @apply border-solid;
  @apply border-gray-600;
  @apply p-8;
}

.post-body > .trix-content ul {
  @apply list-disc;
  @apply list-inside;
}

.post-body > .trix-content ol {
  @apply list-decimal;
  @apply list-inside;
}

.post-body > .trix-content figcaption {
  @apply text-center;
}

.post-body > .trix-content h1 {
  @apply text-xl;
  @apply font-semibold;
}

@screen sm {
  .post-card {
    @apply w-8/12;
  }
}

@screen md {
  .post-card {
    @apply w-8/12;
  }
}

@screen lg {
  .see-all {
    @apply w-1/3;
  }

  .post-card {
    @apply flex-row;
  }

  .post-card-cover {
    @apply w-64;
  }

  .post-card-body {
    @apply border-t;
    @apply border-l-0;
  }

  .post-body {
    @apply w-6/12;
  }
}

@screen xl {
  .post-card {
    @apply flex-row;
  }

  .post-card-cover {
    @apply w-64;
  }

  .post-card-body {
    @apply border-t;
    @apply border-l-0;
  }
}
