.body-container {
  @apply bg-gray-100;
  @apply flex;
  @apply flex-col;
  @apply justify-center;
  @apply items-center;
  @apply w-full;
  @apply h-screen;
}

.sign-in-form {
  @apply border;
  @apply border-gray-300;
  @apply rounded;
  @apply shadow-lg;
  @apply px-20;
  @apply py-12;
  @apply bg-white;
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply content-between;
  @apply w-1/3 ;
}

.sign-in-input {
  @apply rounded;
  @apply mb-3;
  @apply px-4;
  @apply py-2;
  @apply w-full;
  @apply border-2;
  @apply border-gray-300;
}

.sign-in-btn {
  @apply bg-blue-600;
  @apply text-white;
  @apply w-1/2;
  @apply py-2;
  @apply rounded;
  @apply mb-3;
}