<article class="post-card">
  <%= image_tag post.cover.blob, class: "post-card-cover" %>
  <a href="posts/<%= post.id %>">
    <section class="post-card-body">
      <h3 class="post-card-body-title capitalize"><%= post.title %></h3>
      <h4 class="post-card-body-description"><%= post.description %></h4>
    </section>
  </a>
</article>