<section class="category-list-post-index">
  <% @categories.each do |category| %>
    <%= render 'category', category: category %>
  <% end %>
</section>
<section class="post-list">
  <% @posts.each do |post| %>
      <%# <%= link_to post_path(post), class: "post-link-container" do %>
      <%= render 'post', post: post %>
      <%# <% end %>
  <% end %>
</section>