<% @posts.each do |post| %>
  <section class="post-card">
    <%= link_to post_path(post), class: "post-link-container" do %>
      <article class="post-container">
        <%= image_tag post.cover, class: "post-cover" %>
        <section class="post-body">
          <h3 class="post-body-title"><%= post.title %></h3>
          <h4 class="post-body-description"><%= post.description %></h4>
        </section>
      </article>
    <% end %>
  </section>
<% end %>