<section class="post-list">
  <% @posts.each do |post| %>
      <%# <%= link_to post_path(post), class: "post-link-container" do %>
      <article class="post-card">
        <%= image_tag post.cover.service_url, class: "post-card-cover" %>
        <section class="post-card-body">
          <h3 class="post-card-body-title"><%= post.title %></h3>
          <h4 class="post-card-body-description"><%= post.description %></h4>
        </section>
      </article>
      <%# <% end %>
  <% end %>
</section>