<section class="category-list-post-show">
  <% @post.categories.each do |category| %>
    <%= render 'category', category: category %>
  <% end %>
</section>
<div class="post-body-container">
  <div class="post-body">
    <h1><%= @post.title.capitalize %></h1>
    <%= @post.body %>
  </div>
</div>
