<section class="main-about">
  <div>
    <div>
      <%= image_tag asset_path("logo_bw.png"), class: 'w-64 h-64' %>
    </div>
    <div class="about-text">
      <h1>Sobre Euphoria Design</h1>
      <p>
        !Hola! Soy Nati, creadora de Euphoria Design. El diseño y la decoracion de interiores es lo que más me apasiona en
        el mundo. Cree ese sitio web para compartir mis conocimientos, tips, manualidades y fotos de inspiracion.
      </p>
      <%= image_tag asset_path("about.png"), class: 'w-64' %>
    </div>
  </div>
</section>
